<!-- <ul class="list-group">
    <li [class]="getAllColorCategoryClass()" routerLink = "/cars" >Tüm Araçlar</li>
    <li *ngFor="let color of colors"
    (click)="getById(color.colorId)"
    routerLink = "/cars/color/{{color.colorId}}"

    [class]="getCurrentColorCategoryClass(color)">
    {{color.colorName}}
    </li>
</ul> -->

<!-- <br><hr> -->



<select [(ngModel)]="selectedColorId" (ngModelChange)="sendColor($event)"  class="form-select" aria-label="Default select example" >
  <option [ngValue]="null" selected>Filter by color</option>
  <option *ngFor="let color of colors; let i = index"   [ngValue]="color.colorId">{{color.colorName}}</option>
</select>


