<!-- <ul class="list-group">
    <li [class]="getAllBrandCategoryClass()" routerLink = "/cars" >Tüm Araçlar</li>
    <li *ngFor="let brand of brands"
    (click)="setCurrentBrandCategory(brand)"
    routerLink = "/cars/brand/{{brand.brandId}}"
    [class]="getCurrentBrandCategoryClass(brand)">
    {{brand.brandName}}</li>
</ul> -->

<h3>Filters</h3>

<!-- <br><hr> -->


<select [(ngModel)]="selectedBrandId" (ngModelChange)="sendCategory($event)"  class="form-select" aria-label="Default select example" >
  <option [ngValue]="null" selected>Filter by brand</option>
  <option *ngFor="let brand of brands; let i = index"   [ngValue]="brand.brandId">{{brand.brandName}}</option>
</select>





<!-- *ngIf="currentBrandCategory ? 'active' : '' " -->
